
  .pic{border-radius: 100px 100px;
       border:thin solid silver;
     box-shadow: black 4px;
          height:150px;width:150px ;
        }
 .caption{margin-bottom: 170px; 
  padding:4px}
 .name{color: rgb(74, 216, 61);
  font-style: italic;
  text-shadow: 1px -1px 3px rgb(12, 11, 11);
  font-size:19px;}
  .high{color:black;
        font-style: italic;
        text-shadow: 1px -1px 3px rgb(232, 227, 233);
      font-size: 26px;margin-top:5px;}
      .aption{margin-top: 270px; 
        padding:4px}

.title-fade-out{
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}
.title-fade-in{
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}
@keyframes fade-out{
  from{opacity: 100;}
  to{opacity: 0;}
  
}
@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 100;}
  
}